<div class="user-detail">
  <div class="bg">
    <img class="user-bg" src="{{user.userbackground}}" />
  </div>
  <div>
    <img class="info-avatar" src="{{user.avatar}}" />
    <div class="info-user">
      <p class="info-name">{{user.name}}</p>
      <p class="info-nickname">{{user.nickname}}</p>
    </div>
  </div>
</div>