<form method="POST">
  <div class="mb-3" "mt-3" "ml-4" "mr-4">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
    name="email"
    />
  <div class="mb-3">
    <label>Password</label>
    <input type="password" name="password" />
  </div>
  <div>
    <input type="checkbox" name="check"/>
    <label ></label>Check me out</label>
  </div>
  <button type="submit">Submit</button>
</form>